@charset "UTF-8";
    
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

*{ padding: 0; margin: 0; text-decoration: none; }

::-webkit-scrollbar{width: 0; height: 0;}

:root {
    --font1:'Sirin Stencil', 'cursive';

    --branco:white;
    --tom1:#EFDF00;
    --tom2:#E0A510;
    --tom3:#614009;
    --preto:black;
}
