@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

*{ padding: 0; margin: 0; text-decoration: none; }

::-webkit-scrollbar{width: 0; height: 0;}

:root {
    --font1:'Sirin Stencil', 'cursive';

    --branco:white;
    --tom1:#EFDF00;
    --tom2:#E0A510;
    --tom3:#614009;
    --preto:black;
}

/* @media screen and (min-width:) { */

/* telas grandes*/

body {background:var(--preto); }

/*cabeçalheo*/

header {background-image:linear-gradient(to top, var(--preto), transparent) ;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    padding: 10px;
    border-bottom: 0.1px solid var(--tom3);
    position: sticky;
    top:-1px;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#lg {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#lt {
    color: var(--tom2);
    font: 2em var(--font1);
    padding-left: 10px;
}

header nav {
    display: none;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap:10px;
    padding: 10px;
}

#burguer { 
    
    color: var(--cor2);
    display: block;
    text-align: center;    
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    
    color: black;
}


 
.link {
    font-family: var(--font1);
    font-size: 1em;
    color: var(--tom2);
    padding: 5px;
}

.link:hover {
    border-radius: 10px;
    box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.5);
    transform: translate(0px, -1.5px);
}

